client_id = "7c2b2d57c7c933a52a307084f55b1dee"
name = "custom-hat-builder"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2025-10"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
scopes = "write_files,read_files,write_products,read_products"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]

[app_proxy]
# Shopify will forward storefront requests from:
#   /apps/hat-customizer/<anything>
# to your app at:
#   https://example.com/proxy/<anything>
url = "https://example.com/proxy"
subpath = "hat-customizer"
prefix = "apps"
