{{ 'product_customizer.css' | asset_url | stylesheet_tag }}

<p class="custom-hat-builder-app">{{ block.settings.title }}</p>

<div id="color-switcher-root">
  <button data-color="red">Red</button>
  <button data-color="green">Green</button>
  <button data-color="blue">Blue</button>
</div>

{% schema %}
{
    "name": "Product Customizer",
    "target": "section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Hello world"
        }
    ],
    "templates": ["product"]
}
{% endschema %}

{{ 'product_customizer.js' | asset_url | script_tag }}